.video-container{
    margin:  0 1% 40px;
    display: block;
    position: relative;
    float: left;
}    
.video-container video {
    width: 100%;
}
.video-container.four{
        width: 23%;    
}
.video-container.three{
    width: 31%;    
}
.video-container.two{
    width: 48%;
}
.video-container.one{
    width: 98%;
}
